github "ZipArchive/ZipArchive" ~> 1.0
github "danfsd/UIMenuItem-CXAImageSupport"
github "jessesquires/JSQWebViewController" ~> 5.0
github "alexpopov/ZFDragableModalTransition" "merge-carthage-into-zoonooz"
github "tadija/AEXML" ~> 4.0
github "ArtSabintsev/FontBlaster" ~> 3.0
github "realm/realm-cocoa" ~> 2.0
